{% extends "base.html" %}

{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Ištrinti užsakymą</legend>
            <h2>Ar tikrai norite ištrinti užsakymą?</h2>
            <p>{{ object.id }} {{ object.automobilis.klientas }}</p>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Taip, ištrinti
            </button>
            <a class="btn btn-outline-secondary" href="{% url 'my-jobs' %}">Atšaukti</a>
        </div>
    </form>
</div>
{% endblock content %}