{% extends 'base.html' %}

{% block content %}

<h1>{{ uzsak.automobilis.klientas | safe }}</h1>
<p class="text-light bg-dark">Automobilis: {{ uzsak.automobilis.automobiliomodelis.marke }}
                                            {{ uzsak.automobilis.automobiliomodelis.modelis }}</p>
<hr/>

<img src="{{ uzsak.cover.url }}">

<p><strong>Valstybiniai numeriai:</strong> {{ uzsak.automobilis.valstybinis_nr}} </p>
<hr/>
<p><strong>Užsakymo data:</strong> {{ uzsak.data}} </p>
<hr/>
<h6>Užsakymo statusas:</h6>
    <p class="{% if uzsak.status == 'p' %} text-danger
              {% elif uzsak.status == 't' %} text-warning bg-dark
              {% else %} text-success
              {% endif %}">
     <strong>{{ uzsak.get_status_display }}</strong></p>
<hr/>
<h4>Atlikti darbai: </h4>
{% for darbas in uzsak.uzsakymoeilutes_set.all %}
<hr/>
<p>Darbas: {{ darbas.paslaugos.pavadinimas }}, kiekis: {{ darbas.kiekis }}, kaina: {{ darbas.kaina }}</p>
<hr/>

{% endfor %}
<p> <strong>Bendra darbų suma:</strong> {{ uzsak.suma }}</p>
<hr/>
{% if user.is_authenticated %}
<div class="fieldWrapper">
    <h4>Palikite atsiliepimą:</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.content }}
        <br>
        <input type="submit" class="btn btn-outline-success btn-sm" value="Išsaugoti">
    </form>
</div>
{% endif %}
<hr/>
<h4>Atsiliepimai:</h4>
{% if uzsak.uzsakymasreview_set.all %}
    {% for review_o in uzsak.uzsakymasreview_set.all %}
        <hr/>
<p class="bg-light"><em><strong>{{ review_o.reviewer }}</strong> {{ review_o.date_created }}</em></p>
        <p>{{ review_o.content }}</p>
    {% endfor %}
{% else %}
    <p>uzsakymas atsiliepimų neturi...</p>
{% endif %}
{% endblock %}